/*контейнер*/
.containers .container-item {
    /*background: #f6f2ed;*/
    /*border: 1px solid #ccc;*/
    margin-top: 5px;
    margin-bottom: 5px;
}

/*имя контейнера*/
.containers .container-item .container-name input {
    font-size: 16px;
    text-transform: lowercase;
    font-weight: 100;
    padding-left: 5px;
    padding-right: 5px;
    border: 0;
    outline: 0;
    border-left: 1px solid #ccc;
}
/*div, где храниться иконка статуса контейнера*/
.containers .container-item .container-status {
    display: inline-block;
}
/*кислая рожица*/
.containers .container-item .container-status .container-status-down:before {
    content: "\f119";
    font-family: FontAwesome, sans-serif;
}
/*веселая рожица*/
.containers .container-item .container-status .container-status-up:before {
    content: "\f118";
    font-family: FontAwesome, sans-serif;
}
/*статус контейнера*/
.containers .container-item .container-status .container-status-down {
    color: #dcdcdc;
    font-weight: bolder;
}
/*статус контейнера*/
.containers .container-item .container-status .container-status-up {
    color: #26da14;
    font-weight: bolder;
}
/*div, где храниться input, в котором имя контейнера*/
.containers .container-item .container-name {
    /*margin: 5px;*/
    display: inline-block;
}

/*div, где храняться кнопки удалить, сохранить, редактировать*/
.containers .container-item .container-actions {
    display: inline-block;
    margin-left: 10px;
    border: 1px solid #f7f6f6;
    padding: 2px 5px 2px 5px;
    border-radius: 3px;
}

/*кнопка удалить контейнер*/
.containers .container-item .container-actions .delete-container {
    color: #ec0705;
    font-size: 17px;
    text-shadow: 1px 1px 0 #000;
}

/*кнопка редактировать контейнер*/
.containers .container-item .container-actions .edit-container {
    color: #0000df;
    font-size: 17px;
    text-shadow: 1px 1px 0 #000;
}

/*кнопка сохранить контейнер*/
.containers .container-item .container-actions .save-container {
    font-size: 17px;
    color: #0e7102;
    text-shadow: 1px 1px 0 #000;
}
/*контейнер с опциями*/
.options {
    display: none;
}
/*кнопка добавить контейнер*/
.containers .container-item .container-actions .add-container {
    font-size: 17px;
    color: #edff12;
    text-shadow: 1px 1px 0 #000;
}
/*кнопка перезагрузить приложение*/
.btn-restart-application {
    margin-left: 10px;
    color: #2bb91c;
}
/*кнопка клонировать приложение*/
.btn-clone-application {
    margin-left: 10px;
    color: #3d4fb9;
}