.content-header h3 {
    margin-top: 0 !important;
}

@media (max-width: 920px) {
    .content-header h3,
    .content-header > .row > div {
        text-align: center;
    }
    .content-header > .row > div:first-child,
    .content-header > .row > div:nth-child(2),
    .content-header > .row > div > .btn {
        float: none !important;
    }
}
